# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGO_URI=mongodb+srv://mahmudaoishi457_db_user:oishi1234@lms.f2idrfs.mongodb.net/Car-Cleanify?retryWrites=true&w=majority


# JWT
JWT_SECRET=your_super_secret_key_change_this_in_production
JWT_EXPIRE=7d


NEXTAUTH_SECRET=your_nextauth_secret_must_match_frontend

# CORS - আপনার Next.js URL দিন
CLIENT_URL=http://localhost:3000
